html {
    background-color: blanchedalmond;
}

.top {
    font-size: 15px;
	font-family: Verdana;
    margin: 10px;
}

header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 850px;
	background-color: white;
	margin: 15px auto;
	padding: 10px 0;
	border: 1px solid black;
	padding-bottom: 2em;
}

header h1 {
	font-size: 220%;
    color: #2533d4;
    text-shadow: 2px 3px 0 rgb(154, 168, 230);
	margin-bottom: .25em;
}

header h2 {
	font-style: italic;
}

figure {
	margin:  6em;
	background-color: #EEEEEE;
	padding: 1.5em;
	border: solid 1px #999999;
 }

 h2 {
	font-family: Verdana, Arial Arial, Helvetica, sans-serif;
	margin: 10px;
	padding: 10px;

}

.description{
	font-family: Verdana, Arial Arial, Helvetica, sans-serif;
	margin: 50px;
	padding: 10px;
	text-align: justify;
    border: 1px solid rgb(70, 21, 195)
}

table {
    border: 1px solid rgb(0, 151, 53);
    border-collapse: collapse;
    margin-left: 40px;
    margin-right: 40px;
}
td, th {
    border: 1px solid rgb(0, 151, 53);
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}


footer {
    font-size: 15px;
    font-family: Verdana;
    margin: 10px;
}





